{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}


{% block main_content %}
<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2 style="font-family: FarsiFont; text-align: right; margin-bottom: 20px;">شرکت رویان توکاژن</h2>
            <p style="font-family: FarsiFont; text-align: justify;float: right; font-size: 22px; color: #222222; max-width: 100%;">{{RoyanTucagene.about|safe}}</p>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
{% endblock main_content %}