{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}


{% block main_content %}
<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2 style="font-family: FarsiFont; text-align: right; margin-bottom: 20px;">شرکت رویان توکاژن</h2>
        </div>
        <div class="row" dir="rtl">
            <div class="col-lg-6 col-md-12 border-lg" style="text-align: right;">
                <p style="font-family: FarsiFont; font-size: 20px;">آدرس: {{RoyanTucagene.address}}</p>
            </div>
            <div dir="rtl" class="col-lg-6 col-md-12" style="text-align: right;">
                <p style="font-family: FarsiFont; font-size: 20px; display:inline">تلفن: <div style="font-family:EnglishFont; font-size: 18px;display: inline;">0098{{RoyanTucagene.phone_number}}</div></p>
                {% if RoyanTucagene.fax %}
                <p style="font-family: FarsiFont; font-size: 20px;">فکس: {{RoyanTucagene.fax}}</p>
                {% endif %}
                <p style="font-family: FarsiFont; font-size: 20px;">ایمیل: <a href="mailto:{{RoyanTucagene.email}}">{{RoyanTucagene.email}}</a></p>
            </div>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->
{% endblock main_content %}