{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner %}
<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home" style="min-height: unset; max-height: 100vh;">
    <div class="banner_inner" style="padding: 0; min-height: 50vh;">
        <div class="container-fluid" style="padding: 0; max-height: 100vh;">
            <img src="{% static 'img/DNA6.png' %}" class="banner_index">
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
{% endblock banner %}

{% block main_content %}
<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2 style="font-family: FarsiFont">شرکت رویان توکاژن</h2>
            <p style="font-family: FarsiFont; font-size: 18px;">{{RoyanTucagene.summary}}</p>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->

<!--================Interior Area =================-->
<section class="interior_area">
    <div class="container">
        <div class="main_title">
            {% if request.user.is_authenticated and request.user.is_staff %}
            <a href="{% url 'news:show_news_list_admin' %}" class="text-dark"
               style="font-family: FarsiFont; font-size: 30px;">اخبار</a>
            {% else %}
            <a href="{% url 'news:show_news_list' %}" class="text-dark"
               style="font-family: FarsiFont; font-size: 30px;">اخبار</a>
            {% endif %}
        </div>
        <div class="feature_inner row" dir="rtl" style="text-align: right; font-family: FarsiFont;">
            {% for new in news %}
            <div class="col-lg-3 col-md-6">
                <div class="feature_item" style="height: 400px;">
                    <div style="width: 100%; height: 150px; margin-bottom: 20px;; text-align: center;">
                        <img class="img-news" src="{{ new.image.url }}" alt="" style="width: auto; height: 100%; max-width: 100%;">
                    </div>
                    <a href="{% url 'news:show_news' forloop.counter %}" class="text-info"
                       style="font-size: 20px; font-family: FarsiFont;">{{ new.title }}</a>
                    <p>{{ new.summary }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================End Interior Area =================-->

{% if product1 %}
<!--================Interior Area =================-->
<section class="interior_area interior_two" style="text-align: right;">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-3" style="text-align: center;">
                <img class="img-fluid" src="{{ product1.image.url }}" alt="">
            </div>
            <div class="col-lg-9" style="padding: 30px;">
                <div class="interior_text" style="margin-right: 100px;">
                    <h4 style="font-family: FarsiFont; font-size: 25px; text-align: right; margin: 0;" dir="rtl">نام محصول:</h4><br>
                    <h4 style="font-family: EnglishFont; font-size: 25px; text-align: left; margin: 0;">{{ product1.name }}</h4>
                    <p>{{ product1.description }}</p>
                    <a class="main_btn" href="{% url 'product:product_details' product1.id %}">جزئیات محصول</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!--================End Interior Area =================-->
{% endif %}

{% if product2 %}
<!--================Interior Area =================-->
<section class="interior_area interior_one" style="text-align: right;">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-9" style="padding: 30px;">
                <div class="interior_text" style="margin-left: 100px;">
                    <h4 style="font-family: FarsiFont; font-size: 25px; text-align: right; margin: 0;" dir="rtl">نام محصول:</h4><br>
                    <h4 style="font-family: EnglishFont; font-size: 25px; text-align: left; margin: 0;">{{ product2.name }}</h4>
                    <p>{{ product2.description }}</p>
                    <a class="main_btn" href="{% url 'product:product_details' product2.id %}">جزئیات محصول</a>
                </div>
            </div>
            <div class="col-lg-3"  style="text-align: center;">
                <img class="img-fluid" src="{{ product2.image.url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Interior Area =================-->
{% endif %}

{% endblock main_content %}