{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner %}
<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home" style="min-height: unset; max-height: 100vh;">
    <div class="banner_inner" style="padding: 0; min-height: 50vh;">
        <div class="container-fluid" style="padding: 0; max-height: 100vh;">
            <img src="{% static 'img/DNA6.png' %}" class="banner_index">
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
{% endblock banner %}

{% block main_content %}
<!--================Feature Area =================-->
<section class="feature_area p_120" id="feature">
    <div class="container">
        <div class="main_title">
            <h2 style="font-family: FontFarsi">شرکت رویان توکاژن</h2>
            <p>یک عبارت</p>
        </div>
    </div>
</section>
<!--================End Feature Area =================-->

<!--================Interior Area =================-->
<section class="interior_area">
    <div class="container">
        <div class="main_title">
            <h3>خبرها</h3>
        </div>
        <div class="feature_inner row" dir="rtl" style="text-align: right; font-family: FontFarsi;">
            {% for new in news %}
            <div class="col-lg-3 col-md-6">
                <div class="feature_item">
                    <img class="img-news" src="{{ new.image.url }}" alt="">
                    <h4>{{ new.title }}</h4>
                    <p>{{ new.summary }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!--================End Interior Area =================-->

{% if product1 %}
<!--================Interior Area =================-->
<section class="interior_area interior_two" style="text-align: right;">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4>{{ product1.name }}</h4>
                    <p>{{ product1.description }}</p>
                    <a class="main_btn" href="#">جزئیات محصول</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ product1.image.url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Interior Area =================-->
{% endif %}

{% if product2 %}
<!--================Interior Area =================-->
<section class="interior_area interior_two" style="text-align: right;">
    <div class="container">
        <div class="interior_inner row">
            <div class="col-lg-5 offset-lg-1">
                <div class="interior_text">
                    <h4>{{ product2.name }}</h4>
                    <p>{{ product2.description }}</p>
                    <a class="main_btn" href="#">جزئیات محصول</a>
                </div>
            </div>
            <div class="col-lg-6">
                <img class="img-fluid" src="{{ product2.image.url }}" alt="">
            </div>
        </div>
    </div>
</section>
<!--================End Interior Area =================-->
{% endif %}

{% endblock main_content %}