{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner_content %}
<h2>Primer</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">Services</a>
    <a href="elements.html">Primer</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <h3 class="mb-30 title_color" style="font-family: FarsiFont">اخبار</h3>
            {% for news in news_list %}
            <div class="row" style="padding: 20px;border-bottom: 1px solid #aaaaaa;">
                <div class="col-lg-3" style="text-align: center;">
                    <img src="{{ news.image.url }}" alt="" class="img-fluid" style="margin: auto;">
                </div>
                <div class="col-lg-7">
                    <a href="{% url 'news:show_news' news.id%}" class="text-info"
                       style="font-size: 20px; font-family: FarsiFont">{{ news.title }}</a>
                    <div style="font-family: FarsiFont;">{{ news.summary }}</div>
                </div>
                <div class="col-lg-2">
                    <a href="{% url 'news:update_news' news.id %}" class="btn btn-info circle"
                        style="font-size: 18px; min-width: 40px;">ویرایش</a>
                    <button class="btn btn-danger circle"
                        style="font-size: 18px; min-width: 40px;">حذف</button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}