{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <h3 class="mb-30 title_color" style="font-family: FarsiFont; font-size: 25px;">عنوان مقاله:<br>
                <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{ paper.title }}</div></h3>
            <h4 class="mb-30 title_color" style="font-family: FarsiFont; font-size: 18px;">نویسندگان:<br>
                <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{ paper.authors }}</div></h4>
            <div class="row">
                <p class="mb-30 title_color" style="font-family: FarsiFont; font-size: 20px; ">چکیده:</p><br>
                <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{ paper.summary|safe }}</div>
            </div>
            {% if paper.link %}
            <h4>شما می توانید مقاله را از طریق <a href="{{paper.link}}" class="link-primary"> این لینک</a> دریافت نمایید.</h4>
            {% endif %}
            {% if paper.paper %}
            <a href="{{paper.paper.url}}" download class="submit_service_excel"
                style="float: none; margin: 50px auto; display: block;">دانلود مقاله</a>
            {% endif %}
            <h4 class="mb-30 title_color" style="margin-top: 20px;">مقالات مشابه منتشر شده در زمینه تحقیقاتی</h4>
            {% for paper in related_papers %}
                <div class="row" style="padding: 20px; margin: 20px;border-bottom: 1px solid #aaaaaa;">
                    <div class="col-lg-9">
                        <h5 style="font-size: 18px; display: inline;"> عنوان: </h5>
                        <a href="{% url 'research:show_paper' 1%}" class="text-info"
                           style="font-size: 20px; font-family: FarsiFont; margin-bottom: 30px; display: inline;"
                        >{{ paper.title }}</a>
                        <h4 style="margin: 20px 0;">نویسندگان: {{paper.authors}}</h4>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}