{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <h3 class="mb-30 title_color" style="font-family: FarsiFont; font-size: 25px;">نام زمینه تحقیقاتی:<br>
                <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{ research_area.name }}</div></h3>
            <div class="row">
                <div class="col-md-9">
                    <p style="font-family: FarsiFont; font-size: 20px;">توضیحات:<br>
                    <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{ research_area.description|safe }}</div></p>
                </div>
            </div>
            <h4 class="mb-30 title_color" style="margin-top: 20px;">مقالات منتشر شده در زمینه تحقیقاتی</h4>
            {% for paper in related_papers %}
                <div class="row" style="padding: 20px; margin: 20px;border-bottom: 1px solid #aaaaaa;">
                    <div class="col-lg-12">
                        <h5 style="font-size: 18px; display: inline;"> عنوان: </h5><br>
                            <div dir="ltr" style="font-family: EnglishFont; text-align: justify">
                                <a href="{% url 'research:show_paper' paper.id %}" class="text-info"
                                   style="font-size: 20px; font-family: EnglishFont; margin-bottom: 30px; display: inline;"
                                >{{ paper.title }}</a>
                            </div>
                        <h4 style="margin: 20px 0;">نویسندگان:<br>
                            <div dir="ltr" style="font-family: EnglishFont; text-align: justify"> {{paper.authors}}</div></h4>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}