{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block internal_css %}
<style>
.input-file-container {
  position: relative;
  width: 225px;
}
.js .input-file-trigger {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    background: rgb(143,109,252);
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    font-weight: unset;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #eeeeee;
  color: rgb(143,109,252);
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Selected file: ";
  font-style: normal;
  font-weight: normal;
}
</style>
{% endblock internal_css %}

{% block banner_content %}
<h2>Submit Primer</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">Services</a>
    <a href="elements.html">Primer</a>
    <a href="elements.html">Submit Primer</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="multi-step container">
    <div class="col-lg-2">
        <div id="progress_btn_1" class="circle btn-success">1</div>
        <label class="progress-bar-label">ثبت مشخصات فاکتور شونده</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_2" class="circle btn-primary">2</div>
        <label class="progress-bar-label">ثبت اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_3" class="circle">3</div>
        <label class="progress-bar-label">تایید اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_4" class="circle">4</div>
        <label class="progress-bar-label">دریافت کد رهگیری</label>
    </div>
</div>
<!--================Start Section2 =================-->
<div id="sec2" class="whole-wrap" dir="rtl"
     style="display: block; text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-11 col-md-8" style="margin: auto">
                    <h4>ثبت سفارش برای سرویس {{service.name}}</h4>
                    <h5>
                        برای پر کردن اطلاعات، شما باید ابتدا یکی از دو روش زیر را انتخاب کنید.
                    </h5>
                    ‌
                    <div class="submit_service_register_parts">
                        <input type="radio" name="type_1" id="type_1" style="display: inline-block;"
                               onclick="radiochanged(1)">
                        <h5 style="display: inline-block">روش اول:</h5>
                        <div style="font-size: 20px; display: inline-block">در این روش، شما باید ابتدا فایل اکسل
                            داده شده را دانلود کرده و
                            سپس تکمیل شده‌ی آن را آپلود کنید.
                        </div>
                        <div id="div_type_1"
                             style="margin: auto; display: flex; height: 100%; transition: 1s;">
                            <a id="div_type_1_btn_1"
                               href="{{ service.file.path }}" download class="submit_service_excel">دانلود فایل
                                نمونه</a>
                            <input class="input-file" id="my-file" type="file">
                            <div class="submit_service_excel" style="padding: 0;">
                                <label tabindex="0" for="my-file" id="input-file-trigger"
                                       style="font-weight: unset; width: 100%; height: 100%;
                                       padding-top: 10px; cursor: pointer;">درگاه آپلود فایل</label>
                            </div>
                            <p class="file-return"></p>
                        </div>
                    </div>

                    <div class="submit_service_register_parts">
                        <input type="radio" name="type_2" id="type_2" style="display: inline-block;"
                               onclick="radiochanged(2)">
                        <h5 style="display: inline-block">روش دوم:</h5>
                        <div style="font-size: 20px; display: inline-block">در این روش، شما باید جزئیات توالی‌های
                            خود را از
                            طریق جدول زیر، وارد کنید.
                        </div>
                        <div style="height: 100%; transition: 1s; text-align: center;" id="div_type_2">
                            <form method="post">
                                {% csrf_token %}
                                <input type="text" name="order_id" id="id_order_id" style="display: none;">
                                <table dir="ltr" id="table" lang="en">
                                    <thead>
                                    <tr style="font-size: 12px;">
                                        <th>#</th>
                                        {% for field in form %}
                                        {% if field.name != "order_id" %}
                                        <th>{{ field.label }}</th>
                                        {% endif %}
                                        {% endfor %}
                                        <th>change</th>
                                    </tr>
                                    </thead>
                                    {% for row in data %}
                                    <tr style="font-size: 12px;">
                                        <td>{{forloop.counter}}</td>
                                        {% for field in row %}
                                        <td style="padding: 0 5px; font-size: 15px;">{{field}}</td>
                                        {% endfor %}
                                        <td>
                                            {% with y=forloop.counter|stringformat:"s" %}
                                            <div onclick="myFunction({{forloop.counter}})"
                                                 class="popup btn text-danger circle"
                                                 style="font-size: 15px; min-width: 80px; display: block;
                                                 ">
                                                {% with id="id"|add:y %}
                                                <div id="{{id}}">delete</div>
                                                {% endwith %}
                                                {% with mypopup="myPopup"|add:y %}
                                                <div class="popuptext" id="{{mypopup}}">
                                                {% endwith %}
                                                    <div onclick="myFunction({{forloop.counter}})"
                                                         class="popup btn text-danger circle"
                                                         style="font-size: 15px; min-width: 80px; display: block;"
                                                    >Are you sure?
                                                        <button type="submit" onclick="myDelete({{ y }})"
                                                                class="popup btn text-danger circle"
                                                                style="font-size: 15px; background: none;">yes
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endwith %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    <tr style="font-size: 12px;" id="1">
                                        <td></td>
                                        {% for field in form %}
                                        {% if field.name != "order_id" %}
                                        <td style="padding: 0 5px;">{{field}}</td>
                                        {{field.errors}}
                                        {% endif %}
                                        {% endfor %}
                                        <td style="text-align: center;">
                                            <button type="submit" class="btn generic-btn text-success"
                                                    style="font-size: 15px; width: 100%; display: block;
                                                    background: none;
                                                 ">add</button></td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                    <div class="pager">
                        <a class="genric-btn purplebtn circle" onclick="goto(3, 2)"
                           style="float: left; margin: 10px; display: inline-block">ادامه
                        </a>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Section2 =================-->
{% endblock main_content %}


{% block script %}
<script>
    document.querySelector("html").classList.add('js');
    $("input").prop('required',true);
    function myFunction(id) {
        var popup = document.getElementById("myPopup"+id);
        popup.classList.toggle("show");
    }
    function myDelete(i) {
        $("#id_order_id").val(i);
        $("input").prop('required',false);
    }

    function radiochanged (id) {
        if ($('#type_'+id).prop("checked") == true){
            $('#type_'+(3-id)).prop("checked", false)
            if (id == 2) {
                $('#div_type_1').css("height", "0px");
                $('#div_type_1_btn_1').css("opacity", 0);
                $('#div_type_1_btn_1').css("visibility", "hidden");
                $('#div_type_1_btn_2').css("opacity", 0);
                $('#div_type_1_btn_2').css("visibility", "hidden");
                $('#div_type_2').css("height", "100%");
                $('#table').css("opacity", 1);
                $('#table').css("visibility", "visible");
                $('#addbtn').css("opacity", 1);
                $('#addbtn').css("visibility", "visible");
            }
            if (id == 1) {
                $('#div_type_1').css("height", "100%");
                $('#div_type_1_btn_1').css("opacity", 1);
                $('#div_type_1_btn_1').css("visibility", "visible");
                $('#div_type_1_btn_2').css("opacity", 1);
                $('#div_type_1_btn_2').css("visibility", "visible");
                $('#div_type_2').css("height", "0px");
                $('#table').css("opacity", 0);
                $('#table').css("visibility", "hidden");
                $('#addbtn').css("opacity", 0);
                $('#addbtn').css("visibility", "hidden");
            }
        }
    }
    var fileInput  = document.querySelector( ".input-file" ),
    button     = document.querySelector( "#input-file-trigger" ),
    the_return = document.querySelector(".file-return");

    button.addEventListener( "keydown", function( event ) {
        if ( event.keyCode == 13 || event.keyCode == 32 ) {
            fileInput.focus();
        }
    });
    button.addEventListener( "click", function( event ) {
       fileInput.focus();
       return false;
    });
    fileInput.addEventListener( "change", function( event ) {
        the_return.innerHTML = this.value;
    });
</script>
{% endblock script %}