{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <div>
                <h3 style="color: #444444; margin-bottom: 20px;">نام توتوریال:</h3><br> <h3 dir="ltr" style="font-family: EnglishFont;">{{ tutorial.name }}</h3><br>
            </div>

            <div class="row" style="margin-top: 50px;">
                <div class="col-lg-12 feature_inner" dir="rtl">
                    {% for link in links %}
                    <div style="display: block; border-bottom: 1px solid #dddddd; margin-bottom: 30px;
                                padding-bottom: 20px;">
                        <h3 style="font-size: 20px; display: block;">عنوان کارگاه:<br>
                            <a href="{% url 'tutorial:show_details' link.id %}">{{ link.title }}</a></h3>

                        <h4 style="font-size: 18px;">                        برای کسب اطلاعات بیشتر، از این
                        <a href="{{link.link}}" class="text-info">لینک</a>
                        استفاده نمایید
                        </h4>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}