{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <div>
                <h3 style="color: #444444; margin-bottom: 20px;">نام توتوریال: {{ tutorial.name }}</h3>
                <h4 style="color: #444444;">توضیجات: {{ tutorial.description }}</h4>
            </div>

            <div class="row" style="margin-top: 50px;">
                <h4
                        style="color: #444444; font-size: 25px; margin-bottom: 30px; width: 100%;">لیست مقالات در این
                    بخش</h4>
                <div class="col-lg-12 feature_inner row" dir="rtl">
                    {% for paper in related_papers %}
                    <div class="row">
                        <a href="#" class="text-info"
                           style="font-size: 20px; text-align: center; display: block;">
                            {{ paper.title }}</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}