{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner_content %}
<h2>Submit Primer</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">Services</a>
    <a href="elements.html">Primer</a>
    <a href="elements.html">Submit Primer</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="multi-step container">
    <div class="col-lg-2">
        <div id="progress_btn_1" class="circle btn-success">1</div>
        <label class="progress-bar-label">ثبت مشخصات فاکتور شونده</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_2" class="circle btn-success">2</div>
        <label class="progress-bar-label">ثبت اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_3" class="circle btn-primary">3</div>
        <label class="progress-bar-label">تایید اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_4" class="circle">4</div>
        <label class="progress-bar-label">دریافت کد رهگیری</label>
    </div>
</div>

<!--================Start Section3 =================-->
<div id="sec3" class="whole-wrap" dir="rtl"
     style="text-align: right; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin: auto">
                    <div class="table-responsive">
                        <table dir="ltr" id="table2"  class="table" style="text-align: center;">
                            <thead>
                            <tr style="font-size: 12px;">
                                <th>#</th>
                                {% for field in fields %}
                                <th>{{field}}</th>
                                {% endfor %}
                            </tr>
                            </thead>
                            {% for row in data %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                {% for cell in row %}
                                <td>{{cell}}</td>
                                {% endfor %}
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <form method="post">
                        {% csrf_token %}
                        <div class="mt-10" style="display: flex; margin: 30px 0;">
                            <div style="color: red; display: inline; margin: 0 5px;">*</div>
                            <label style="float: right; display: inline-block; width: 150px; font-family: FarsiFont">
                                نام فاکتور شونده:</label>
                            <input type="text" required name="name" id="id_name" class="single-input">
                            {% for error in form.name.errors %}
                                <p class="text-danger">{{error}}</p>
                            {% endfor %}
                        </div>
                        <input type="checkbox" name="confirm" id="id_confirm" onchange="changed()">
                        <div style="font-family: FarsiFont; display: inline;">
                            صحت موارد ثبت شده را تایید می نمایم.
                        </div>
                        {% for error in form.confirm.errors %}
                        <p class="text-danger">{{error}}</p>
                        {% endfor %}
                        <br>
                        <a href="{% url 'order_service:order_service' service.id %} " class="genric-btn purplebtn circle"
                           style="display: inline-block; font-family: FarsiFont;">
                            بازگشت
                        </a>
                        <button type="submit" id="btn" class="genric-btn greenbtn circle"
                                style="display: none; float: left; font-family: FarsiFont;">ثبت نهایی
                        </button>
                        <div id="btn1" class="genric-btn graybtn circle"
                             style="display: inline-block; float: left; font-family: FarsiFont;">
                            ثبت نهایی
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End Section3 =================-->
{% endblock main_content %}


{% block script %}
<script>
    function changed () {
        var value = $('#id_confirm').prop("checked");
        if (value == true) {
            $('#btn').css('display', 'inline-block');
            $('#btn1').css('display', 'none');
        }
        if (value == false) {
            $('#btn1').css('display', 'inline-block');
            $('#btn').css('display', 'none');
        }
    }

</script>
{% endblock script %}
