{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container-fluid" style="padding-right: 0; padding-left: 0; min-height: 500px;">
        <div class="col-lg-2 col-sm-12 nav-side" style="height: 100%;">
            <div class="container-fluid" style="text-align: center">
                <h3 class="nav-side-name">{{admin.first_name}} {{admin.last_name}}</h3>
            </div>
            <ul class="nav nav-pills">
                <li class="nav-pills-item active"><a class="nav-a-tab active" data-toggle="pill" href="#services">سرویس‌های
                    سفارش داده شده</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu3">پیام‌های من</a></li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu4">لیست کاربران</a></li>
                <li class="nav-pills-item">
                    <a class="nav-a-tab" href="{% url 'registration:change_password' %}">تغییر رمز عبور</a></li>
            </ul>
            <div class="tab-pane" style="margin: 10px 0 0 0; padding: 10px 20px;">
                <div class="container_admin">
                    <h3 class="title_admin">اخبار</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'news:show_news_list_admin'%}">
                        مدیریت اخبار
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'news:add_news'%}">
                        افزودن خبر
                    </a>
                </div>
                <div class="container_admin">
                    <h3 class="title_admin">کالاها</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'product:show_categories_list_admin'%}">
                        مدیریت دسته‌ها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'product:add_category'%}">
                        افزودن دسته
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'product:product_list_admin' 0 %}">
                        مدیریت کالاها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'product:choose_category'%}">
                        افزودن کالا
                    </a>
                </div>
                <div class="container_admin">
                    <h3 class="title_admin">سرویس‌ها</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'service:show_field_list_admin'%}">
                        مدیریت فیلدها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'service:create_field'%}">
                        افزودن فیلد
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'service:create_field2'%}">
                        افزودن فیلد رده دوم
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'service:show_service_list_admin' %}">
                        مدیریت سرویس‌ها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'service:create_service'%}">
                        افزودن سرویس
                    </a>
                </div>
                <div class="container_admin">
                    <h3 class="title_admin">زمینه‌های تحقیقاتی</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'research:show_research_area_list_admin'%}">
                        مدیریت زمینه‌ها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'research:add_research_area'%}">
                        افزودن زمینه
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'research:show_paper_list_admin' %}">
                        مدیریت مقاله‌ها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'research:choose_research_area'%}">
                        افزودن مقاله
                    </a>
                </div>
                <div class="container_admin">
                    <h3 class="title_admin">توتوریال‌ها</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'tutorial:show_tutorial_list_admin'%}">
                        مدیریت توتوریال‌ها
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'tutorial:add_tutorial'%}">
                        افزودن توتوریال
                    </a>
                    <a class="btn_admin btn btn-info circle" href="{% url 'tutorial:choose_tutorial'%}">
                        افزودن لینک
                    </a>
                </div>
                <div class="container_admin">
                    <h3 class="title_admin">اطلاعات سیستم</h3>
                    <a class="btn_admin btn btn-info circle" href="{% url 'royan_admin:update_info' 1%}">
                        تغییر اطلاعات سیستم
                    </a>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-sm-12" style="float: right; padding-top: 30px;">
            <div id="services" class="tab-pane fade in active show">
                <div class="feature_item">
                    <h4 style="font-family: FarsiFont; padding: 20px; border-bottom: 1px solid #dddddd;">سرویس‌های سفارش
                        داده شده</h4>
                    <h5 style="font-family: FarsiFont; padding: 20px;">سفارش‌های کامل نشده</h5>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام فاکتور شونده</th>
                                <th>نام کاربری</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in orders_not_finished %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.0.name}}</td>
                                <td>{{order.0.customer.username}}</td>
                                <td>{{order.0.code}}</td>
                                <td>{{order.0.date}}</td>
                                <td class="text-danger">کامل نشده</td>
                                <td><a class="details-link"
                                       href="{% url 'order_service:order_details' order.1 %}">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <h5 style="font-family: FarsiFont; padding: 20px;">سفارش‌های در انتظار پیش فاکتور</h5>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام فاکتور شونده</th>
                                <th>نام کاربری</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in orders_not_invoice %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.0.name}}</td>
                                <td>{{order.0.customer.username}}</td>
                                <td>{{order.0.code}}</td>
                                <td>{{order.0.date}}</td>
                                <td class="text-warning">در انتظار پیش فاکتور</td>
                                <td><a class="details-link"
                                       href="{% url 'order_service:order_details' order.1 %}">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <h5 style="font-family: FarsiFont; padding: 20px;">سفارش‌های در انتظار پرداخت هزینه</h5>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام فاکتور شونده</th>
                                <th>نام کاربری</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>مبلغ کل</th>
                                <th>وضعیت تحویل سفارش</th>
                                <th>وضعیت پرداخت</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in orders_not_payed %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.0.name}}</td>
                                <td>{{order.0.customer.username}}</td>
                                <td>{{order.0.code}}</td>
                                <td>{{order.0.date}}</td>
                                <td class="text-success">تایید شده</td>
                                <td>{{order.0.payment}}</td>
                                {% if order.0.received %}
                                <td class="text-success">تایید شده</td>
                                {% else %}
                                <td class="text-danger">تایید نشده</td>
                                {% endif %}
                                <td class="text-danger">تایید نشده</td>
                                <td><a class="details-link"
                                       href="{% url 'order_service:order_details' order.1 %}">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <h5 style="font-family: FarsiFont; padding: 20px;">سفارش‌های دریافت نشده</h5>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام فاکتور شونده</th>
                                <th>نام کاربری</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>مبلغ کل</th>
                                <th>وضعیت تحویل سفارش</th>
                                <th>وضعیت پرداخت</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in orders_not_received %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.0.name}}</td>
                                <td>{{order.0.customer.username}}</td>
                                <td>{{order.0.code}}</td>
                                <td>{{order.0.date}}</td>
                                <td class="text-success">تایید شده</td>
                                <td>{{order.0.payment}}</td>
                                <td class="text-danger">تایید نشده</td>
                                {% if order.0.payed %}
                                <td class="text-success">تایید شده</td>
                                {% else %}
                                <td class="text-danger">تایید نشده</td>
                                {% endif %}
                                <td><a class="details-link"
                                       href="{% url 'order_service:order_details' order.1 %}">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <h5 style="font-family: FarsiFont; padding: 20px;">سفارش‌های اتمام یافته</h5>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام کاربر</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>مبلغ کل</th>
                                <th>وضعیت تحویل سفارش</th>
                                <th>وضعیت پرداخت</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in finished_orders %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.0.name}}</td>
                                <td>{{order.0.customer.username}}</td>
                                <td>{{order.0.code}}</td>
                                <td>{{order.0.date}}</td>
                                <td class="text-success">تایید شده</td>
                                <td>{{order.0.payment}}</td>
                                <td class="text-success">تایید شده</td>
                                <td class="text-success">تایید شده</td>
                                <td><a class="details-link"
                                       href="{% url 'order_service:order_details' order.1 %}">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="feature_item">
                    <h4>پیام‌های من</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ارسال کننده</th>
                                <th>گیرنده</th>
                                <th>تاریخ</th>
                                <th>وضعیت</th>
                                <th>مشاهده</th>
                            </tr>
                            </thead>
                            {% for msg in messages %}
                            {% if msg.is_opened %}
                            <tr>
                            {% else %}
                            <tr style="font-weight: 800; color: blue;">
                            {% endif %}
                                <td>{{forloop.counter}}</td>
                                {% if msg.is_sender %}
                                    <td>{{msg.customer.username}}</td>
                                    <td>مدیر سایت</td>
                                {% else %}
                                    <td>مدیر سایت</td>
                                    <td>{{msg.customer.username}}</td>
                                {% endif %}

                                <td dir="ltr">{{msg.date|date:'Y-m-d H:i'}}</td>
                                {% if msg.is_sender %}
                                <td>-</td>
                                {% else %}
                                    {% if msg.is_opened %}
                                    <td>مشاهده شده</td>
                                    {% else %}
                                    <td>مشاهده نشده</td>
                                    {% endif %}
                                {% endif %}
                                <td><a href="
                                        {% url 'message:message_details' messages|length|subtract:forloop.counter0 %}"
                                       class="details-link">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu4" class="tab-pane fade">
                <div class="feature_item">
                    <h4>لیست کاربران</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>نام کاربری</th>
                                <th>ایمیل</th>
                                <th>وضعیت</th>
                                <th>ارسال پیام</th>
                                <th>بلاک</th>
                                <th>مشاهده</th>
                            </tr>
                            </thead>
                            {% for customer in customers %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{customer.username}}</td>
                                <td>{{customer.email}}</td>
                                {% if customer.is_active %}
                                    {% if customer.email_verified %}
                                    <td class="text-success">ایمیل: تایید شده</td>
                                    {% else %}
                                    <td class="text-danger">ایمیل: تایید نشده</td>
                                    {% endif %}
                                {% else %}
                                    <td class="text-danger">بلاک شده</td>
                                {% endif %}
                                <td><a class="text-dark" href="{% url 'message:admin_create_message' customer.username %}">ارسال</a> </td>
                                <td><a class="text-danger" href="{% url 'royan_admin:block' customer.id %}">بلاک</a> </td>
                                <td><a href="{% url 'royan_admin:customer_profile' customer.id %}" class="details-link">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block script %}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}




</script>
{% endblock script %}