{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container-fluid" style="padding-right: 0; padding-left: 0; min-height: 500px;">
        <div class="col-lg-2 col-sm-12 nav-side" style="height: 100%;">
            <div class="container-fluid" style="text-align: center">
                {% if logged_in_customer.is_person %}
                <h3 class="nav-side-name">{{logged_in_user.first_name}} {{logged_in_user.last_name}}</h3>
                {% else %}
                <h3 class="nav-side-name">{{logged_in_user.post}} {{logged_in_user.organization_name}}</h3>
                {% endif %}
            </div>
            <ul class="nav nav-pills">
                <li class="nav-pills-item active"><a class="nav-a-tab active" data-toggle="pill" href="#home">اطلاعات شخصی</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu1">همه سفارش‌ها</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu3">پیام‌ها</a></li>
            </ul>
        </div>
        <div class="col-lg-9 col-sm-12" style="float: right; padding-top: 30px;">
            <div id="home" class="tab-pane fade in active show">
                <div class="feature_item">
                    <h4 style="font-family: FarsiFont;">اطلاعات شخصی</h4>
                    <div class="table table-bordered">
                        {% if logged_in_customer.is_person %}
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">نام</div>
                            <div class="li-body">{{logged_in_user.first_name}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">نام خانوادگی</div>
                            <div class="li-body">{{logged_in_user.last_name}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">ایمیل</div>
                            <div class="li-body">{{logged_in_user.email}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">کد ملی</div>
                            <div class="li-body">{{logged_in_user.national_id}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">تحصیلات</div>
                            <div class="li-body">{{logged_in_user.education}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">سازمان/موسسه</div>
                            <div class="li-body">{{logged_in_user.org}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">تلفن</div>
                            <div class="li-body">{{logged_in_user.phone_number}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">تلفن همراه</div>
                            <div class="li-body">{{logged_in_user.cellphone_number}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">فکس</div>
                            <div class="li-body">{{logged_in_user.fax}}</div>
                        </div>
                        <div class="col-lg-12 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">آدرس</div>
                            <div class="li-body">{{logged_in_user.address}}</div>
                        </div>
                        {% else %}
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">نام شرکت</div>
                            <div class="li-body">{{logged_in_user.organization_name}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">سمت</div>
                            <div class="li-body">{{logged_in_user.post}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">ایمیل</div>
                            <div class="li-body">{{logged_in_user.email}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">شماره ثبت</div>
                            <div class="li-body">{{logged_in_user.submit_id}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">شماره اقتصادی</div>
                            <div class="li-body">{{logged_in_user.economic_id}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">تلفن</div>
                            <div class="li-body">{{logged_in_user.phone_number}}</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">فکس</div>
                            <div class="li-body">{{logged_in_user.fax}}</div>
                        </div>
                        <div class="col-lg-8 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 15px 0; display: flex">
                            <div class="li-header">آدرس</div>
                            <div class="li-body">{{logged_in_user.address}}</div>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="feature_item">
                    <h4>همه سفارش‌ها</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>کد رهگیری سفارش</th>
                                <th>تاریخ</th>
                                <th>وضعیت سفارش</th>
                                <th>مبلغ کل</th>
                                <th>وضعیت تحویل سفارش</th>
                                <th>وضعیت پرداخت</th>
                                <th>جزئیات</th>
                            </tr>
                            </thead>
                            {% for order in orders %}
                            <tr>
                                <td>{{forloop.counter}}</td>
                                <td>{{order.code}}</td>
                                <td>{{order.date}}</td>
                                {% if order.is_finished %}
                                    {% if order.invoice %}
                                        <td class="text-success">تایید شده</td>
                                    {% else %}
                                        <td class="text-warning">در انتظار پیش فاکتور</td>
                                    {% endif %}
                                {% else %}
                                    <td class="text-danger">کامل نشده</td>
                                {% endif %}
                                {% if order.payment == 0 %}
                                <td>-</td>
                                {% else %}
                                <td>{{order.payment}}</td>
                                {% endif %}
                                {% if order.is_received %}
                                <td class="text-success">تایید شده</td>
                                {% else %}
                                <td class="text-danger">تایید نشده</td>
                                {% endif %}
                                {% if order.is_payed %}
                                <td class="text-success">تایید شده</td>
                                {% else %}
                                <td class="text-danger">تایید نشده</td>
                                {% endif %}
                                {% if not order.is_finished %}
                                <td><a href="{% url 'order_service:order_service' order.service.id %}"
                                       class="details-link"><i class='fa fa-angle-left'></i></a></td>
                                {% else %}
                                <td><a href="#" class="details-link"><i class='fa fa-angle-left'></i></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade">
                <div class="feature_item">
                    <h4>پیام‌های من</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>ارسال کننده</th>
                                <th>گیرنده</th>
                                <th>تاریخ</th>
                                <th>مشاهده</th>
                            </tr>
                            </thead>
                            {% for msg in messages %}
                            {% if msg.is_opened %}
                            <tr>
                            {% else %}
                            <tr style="font-weight: 800; color: blue;">
                            {% endif %}
                                <td>{{forloop.counter}}</td>
                                {% if msg.is_sender %}
                                    {% if logged_in_customer.is_person %}
                                        <td>{{logged_in_user.first_name}} {{logged_in_user.last_name}}</td>
                                    {% else %}
                                        <td>{{logged_in_user.post}} {{logged_in_user.organization_name}}</td>
                                    {% endif %}
                                    <td>مدیر سایت</td>
                                {% else %}
                                    <td>مدیر سایت</td>
                                    {% if logged_in_customer.is_person %}
                                        <td>{{logged_in_user.first_name}} {{logged_in_user.last_name}}</td>
                                    {% else %}
                                        <td>{{logged_in_user.post}} {{logged_in_user.organization_name}}</td>
                                    {% endif %}
                                {% endif %}

                                <td dir="ltr">{{msg.date|date:'Y-m-d H:i'}}</td>
                                <td><a href="{% url 'message:message_details' msg.id %}" class="details-link">
                                    <i class='fa fa-angle-left'></i></a></td>
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}

{% block script %}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
{% endblock script %}