.header_area.navbar_fixed .main_menu .navbar .nav .nav-item,
.header_area .navbar .nav .nav-item {

    color: #222222;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    margin: 0px;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link,
.header_area .navbar .nav .nav-item .nav-link {
    font: 600 12px/100px "Open Sans", sans-serif;
    line-height: 100px;
    text-transform: none;
    color: #fff;
    font-size: 15px;
}

.header_area .navbar .nav .nav-item .nav-link:hover,
.header_area .navbar .nav .nav-item .nav-link:focus,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link:hover,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link:focus{
    background: none;
    color: pink;
    outline = none;
    max-width: 100%;

}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-padding,
.header_area .navbar .nav .nav-item .nav-padding{
    padding: 0px 15px;
    line-height: 50px;
    max-width: 100%;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .login-btn,
.header_area .navbar .nav .nav-item .login-btn {
    background: #dddddd;
    color: #666666;
    line-height: 20px;

}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-login,
.header_area .navbar .nav .nav-login {
    padding-top: 15px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-no-padding,
.header_area .navbar .nav .nav-item .nav-no-padding{
    padding: 0 5px;
    text-align: center;
}

.mega-dropdown {
    position: static !important;
}

.mega-dropdown-menu {
    padding: 20px 0px;
    width: 100%;
    box-shadow: none;
    -webkit-box-shadow: none;
    display:table!important;
}

.mega-dropdown-menu:before {
    content: "";
    border-bottom: 15px solid #fff;
    border-right: 17px solid transparent;
    border-left: 17px solid transparent;
    position: absolute;
    top: -15px;
    left: 285px;
    z-index: 10;
}

.mega-dropdown-menu > li > ul {
    padding: 0;
    margin: 0;
}

.mega-dropdown-menu > li > ul > li {
    list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
    display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: normal;
    line-height: 1.428571429;
    color: #999;
    white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
    text-decoration: none;
    color: #444;
    background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
    color: rgb(25, 150, 231);
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.mega-dropdown-menu form {
    margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
    margin-bottom: 3px;
}

.mega-dropdown .nav-link {
    display: inline-block;
}

.mega-dropdown-col {
    display:table-cell;
}

.nav-pills {
    margin-right: 0;
    padding-right: 0;
}

.nav-pills-item {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0;

}

.nav-pills > li + li {
    margin: 0;
}

.nav-pills-item a {
    color: #222222;
    margin: 0;
}

.nav-pills-item a:hover {
    color: #222222;
    margin: 0;
}

.nav-side {
    height: 100%;
    float: right;
    padding: 0 0 30px 0;
    color: #222222;
    border: 1px solid #222222;
}

.nav-side-name {
    font-family: inherit;
    padding: 30px 0;
}

.nav-pills .active, .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background: rgb(25, 150, 231);
    margin: 0;
    color: #eeeeee;
    border-radius: 5px;
}

.header_area.navbar_fixed .main_menu .navbar .container-fluid .navbar-header .navbar-brand {
    display: inline-block;
    float: left;
    margin-top: -40px;
}
.header_area.navbar_fixed .main_menu .navbar .container-fluid .navbar-header .navbar-brand-inverse {
    display: none;
}

.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-logo {
    display: inline-block;
    height: 100px;
    width: auto;
    margin-left: 20px;
}

.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-logo1 {
    transform: scale(2);
    padding-top: 30px;
    margin-left: 40px;
    margin-top: -30px
}

.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-brand {
    display: none;
}
.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-brand-inverse {
    display: inline-block;
    float: left;
    margin-top: 30px;
}

.nav-a-tab, .feature_item h4 {
    font-family: FarsiFont;
}

.nav-a-tab {
    font-size: 18px;
}

.upper-nav-link {
    background: none;
    color: #eeeeee;
    outline = none;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .upper-nav-link:hover,
.header_area .navbar .nav .nav-item .upper-nav-link:hover, .upper-nav-link:focus {
    background: none;
    color: pink;
    outline = none;
    max-width: 100%;
}

.header_area.navbar_fixed .main_menu, .home_banner_area {
    background-image: -moz-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
}

.main_btn{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), color-stop(51%, rgb(9, 56, 121)), to(#777));
    background-image: -webkit-linear-gradient(left, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
    background-image: -o-linear-gradient(left, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
    background-image: linear-gradient(to right, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
    font-family: FarsiFont;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link , .single-footer-widget .sub-btn {
    background-image: -moz-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
}

.footer-bottom .footer-social a:hover {
    background-image: -moz-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item.submenu:hover .nav-link {
    background-image: -moz-linear-gradient(0deg, #aaa 0%, rgb(25, 150, 231) 100%);
    background-image: -webkit-linear-gradient(0deg, #aaa 0%, rgb(25, 150, 231) 100%);
    background-image: -ms-linear-gradient(0deg, #aaa 0%, rgb(25, 150, 231) 100%);
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item.submenu .my_dropdown_menu .nav-item .nav-link {
    background-image: none;
    color: #111111;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item.submenu .my_dropdown_menu .nav-item:hover .nav-link {
    background-image: -moz-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    color: #eeeeee;
}

.footer-link:hover {
    color: rgb(25, 150, 231);
}

.header_area .navbar .nav .ordered-list-alpha .nav-item.submenu ul.my_dropdown_menu {
    visibility: hidden;
    display: inline-block;
    opacity: 0;
    width: 100%;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.header_area .navbar .nav .ordered-list-alpha .nav-item.submenu:hover ul.my_dropdown_menu {
    visibility: visible;
    display: block;
    opacity: 1;
    position: inherit;
    -webkit-transition: all 0.8s ease-in-out;
    -moz-transition: all 0.8s ease-in-out;
    transition: all 0.8s ease-in-out;
}

.header_area .navbar .nav .ordered-list-alpha .nav-item.submenu .my_dropdown_menu .nav-item{
    visibility: hidden;
    display: none;
    opacity: 0;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.header_area .navbar .nav .ordered-list-alpha .nav-item.submenu:hover .my_dropdown_menu .nav-item {
    visibility: visible;
    display: block;
    opacity: 1;
    -webkit-transition: all 2s ease-in-out;
    -moz-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item {
    text-align: center;
}
.margin-nav{
    margin: 0 50px 0 auto;
}

.tutorial {
    margin-left: -60px;
}

@media (max-width:991px){
    .nav>li>a {
        padding: 10px 10px;
    }
    .margin-nav{
        margin: 0 auto;
    }
    .header_area .main_menu .navbar .container-fluid .navbar-header .navbar-logo {
        display: inline-block;
        height: 80px;
        width: auto;
        margin-left: 0px;
        transform: scale(1);
        padding-top: 0px;
        margin-top: 15px;
    }
    .header_area .main_menu .navbar .container-fluid .navbar-header .navbar-brand-inverse{
        margin-top: 0px;
    }
    #space{
        display: inline-block;
        width: 120px;
    }
    .container-fluid>.navbar-collapse {
        margin-left: 0px;
        margin-right: 0px;
        margin-top: 20px;
    }

    .header_area .navbar .nav .ordered-list-alpha .nav-item.submenu ul.my_dropdown_menu {
        visibility: visible;
        opacity: 1;
    }
    .header_area .navbar .nav .ordered-list-alpha .nav-item.submenu .my_dropdown_menu .nav-item {
        visibility: visible;
        opacity: 1;
        display: block;
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item.submenu .nav-link {
        background-image: none;
        color: rgb(90, 200, 255);
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-link {
        color: #eeeeee;
    }
    .header_area .navbar .nav .nav-item.submenu ul {
        padding: 0 0 0 40px;
        background: none;
    }
    .header_area .navbar .nav .nav-item.submenu ul .nav-item.submenu .my_dropdown_menu .nav-item .nav-link {
        color: #eeeeee;
    }
    .tutorial {
        margin-left: 0;
    }
    .mega-dropdown-menu {
        display:none!important;
    }
    .mega-dropdown-menu.show {
        display:table!important;
    }
    .open>.dropdown-menu {
        display: none;
    }
}

@media (min-width: 768px) {
    .navbar-nav{
        flex-direction: row;
    }
    .mega-dropdown{
        max-width: 150px;
    }
}

@media (max-width: 767px) {
    .mega-dropdown-menu {
        display:none!important;
    }
    .mega-dropdown-menu.show {
        display:block!important;
    }
    .mega-dropdown-col {
        display : list-item;
    }
    .mega-dropdown-menu .dropdown-header {
        background: rgb(10, 110, 185);
        color: #eeeeee;
    }
}