.header_area.navbar_fixed .main_menu .navbar .nav .nav-item,
.header_area .navbar .nav .nav-item {

    color: #222222;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    margin: 0px;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link,
.header_area .navbar .nav .nav-item .nav-link {
    font: 600 12px/100px "Open Sans", sans-serif;
    line-height: 100px;
    text-transform: none;
    color: #fff;
    font-size: 15px;
}

.header_area .navbar .nav .nav-item .nav-link:hover,
.header_area .navbar .nav .nav-item .nav-link:focus,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link:hover,
.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link:focus{
    background: none;
    color: pink;
    outline = none;

}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-padding,
.header_area .navbar .nav .nav-item .nav-padding{
    padding: 0px 15px;
    line-height: 50px;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .login-btn,
.header_area .navbar .nav .nav-item .login-btn {
    background: #dddddd;
    color: #666666;
    line-height: 20px;

}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-login,
.header_area .navbar .nav .nav-login {
    padding-top: 15px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-no-padding,
.header_area .navbar .nav .nav-item .nav-no-padding{
    padding: 0 5px;
    text-align: center;
}

.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: rgb(25, 150, 231);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.mega-dropdown .nav-link {
    display: inline-block;
}

.nav-pills {
    margin-right: 0;
    padding-right: 0;
}

.nav-pills-item {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0;

}

.nav-pills > li + li {
    margin: 0;
}

.nav-pills-item a {
    color: #222222;
    margin: 0;
}

.nav-pills-item a:hover {
    color: #222222;
    margin: 0;
}

.nav-side {
    height: 100%;
    float: right;
    padding: 0 0 30px 0;
    color: #222222;
    border: 1px solid #222222;
}

.nav-side-name {
    font-family: inherit;
    padding: 30px 0;
}

.nav-pills .active, .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background: rgb(25, 150, 231);
    margin: 0;
    color: #eeeeee;
    border-radius: 5px;
}

.header_area.navbar_fixed .main_menu .navbar .container-fluid .navbar-header .navbar-brand {
    display: inline-block;
    float: left;
    margin-top: -40px;
}
.header_area.navbar_fixed .main_menu .navbar .container-fluid .navbar-header .navbar-brand-inverse {
    display: none;
}

.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-logo {
    display: inline-block;
    height: 100px;
    width: auto;
    margin-left: 20px;
}

.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-brand {
    display: none;
}
.header_area .main_menu .navbar .container-fluid .navbar-header .navbar-brand-inverse {
    display: inline-block;
    float: left;
    margin-top: 30px;
}

.nav-a-tab, .feature_item h4 {
    font-family: FarsiFont;
}

.nav-a-tab {
    font-size: 18px;
}

.upper-nav-link {
    background: none;
    color: #eeeeee;
    outline = none;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .upper-nav-link:hover,
.header_area .navbar .nav .nav-item .upper-nav-link:hover, .upper-nav-link:focus {
    background: none;
    color: pink;
    outline = none;
}

.header_area.navbar_fixed .main_menu {
    background-image: -moz-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
}

.main_btn{
    background-image: -webkit-gradient(linear, left top, right top, from(#777), color-stop(51%, rgb(9, 56, 121)), to(#777));
    background-image: -webkit-linear-gradient(left, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
    background-image: -o-linear-gradient(left, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
    background-image: linear-gradient(to right, #777 0%, rgb(9, 56, 121) 51%, #777 100%);
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item:hover .nav-link , .single-footer-widget .sub-btn {
    background-image: -moz-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(0deg, #777 0%, rgb(9, 56, 121) 100%);
}

.footer-bottom .footer-social a:hover {
    background-image: -moz-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -webkit-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
    background-image: -ms-linear-gradient(45deg, #777 0%, rgb(9, 56, 121) 100%);
}

.footer-link:hover {
    color: rgb(25, 150, 231);
}