@font-face {
    font-family:'FarsiFont';
    src:url('../fonts/BNazanin.woff');
    font-style:normal;
    font-weight:normal;
}

.ordered-list-alpha {
    margin: 0;
    padding: 0;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item,
.header_area .navbar .nav .nav-item {

    color: #222222;
    -webkit-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    transition: all 150ms linear;
    display: block;
    margin-right: 0px;
    margin: 0px;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-link,
.header_area .navbar .nav .nav-item .nav-link {
    font: 600 12px/100px "Open Sans", sans-serif;
    line-height: 100px;
    text-transform: none;
    color: #fff;
    display: inline-block;
}

.header_area.navbar_fixed .main_menu .navbar .nav .nav-item .nav-padding,
.header_area .navbar .nav .nav-item .nav-padding{
    padding: 10px 20px;
    line-height: 50px;
}

.header_area .navbar .nav .nav-item.submenu ul .nav-item .nav-no-padding,
.header_area .navbar .nav .nav-item .nav-no-padding{
    padding: 0 5px;
    text-align: center;
}

.rotate {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    font-size: 20px;
    color: #eeeeee;
    line-height: 50px;
    font-family: FarsiFont;
    transition: 2s;
}

.my_chat {
    position: fixed;
    margin: 450px auto;
    left: 10px;
    width: 150px;
    height: 70px;
    background: rgb(188,91,254);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 2s;
}

.my_chat:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    transition: transform 1s;
}

.my_chat:hover .rotate{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 1s;
}

a:not([href]):not([tabindex]) {
    color: #eeeeee;
    max-width: 30%;
}

.purplebtn {
    background-color: rgb(188,91,254);
    color: #eeeeee;
    border: 1px solid rgb(188,91,254);
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

.greenbtn {
    background-color: rgb(56,208,30);
    color: #eeeeee;
    border: 1px solid rgb(56,208,30);
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}
.greenbtn:hover {
    color: rgb(56,208,30);
    background-color: #eeeeee;
}

.graybtn {
    background-color: #bbbbbb;
    color: #eeeeee;
    border: 1px solid #bbbbbb;
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    cursor: not-allowed;
}

.purplebtn:hover {
    color: rgb(188,91,254);
    background-color: #eeeeee;
}

.fa-comment {
    color: #666666;
}
.fa-comment:hover {
    color: #bbbbbb;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
}

.header_area .navbar .nav .nav-item .nav-link {
    font-size: 15px;
}

a .footer_helpnote {
    border-radius: 10px;
    background: #eeeeee;
    position: absolute;
    top: -20px;
    display: inline-block;
    color: #444444;
    font-size: 12px;
    height: 25px;
    line-height: 25px;
    padding: 0 10px;
    visibility: hidden;
    opacity: 0;
    transition: 1s;
}

a:hover .footer_helpnote {
    visibility: visible;
    opacity: 1;
    transition: 1s;
}

.submit_service_excel {
    margin: 20px auto;
    margin-left: 10%;
    width: 30%;
    display: inline-block;
    float: left;
    border-radius: 5px;
    padding: 10px 0;
    background: rgb(143,109,252);
    text-align: center;
    color: #eeeeee;
    font-size: 20px;
}

.submit_service_excel:hover {
    color: rgb(143,109,252);
    background: #eeeeee;
}

.submit_service_register_parts {
    display: block;
    border-radius: 5px;
    border: solid 1px #777777;
    padding: 20px;
    margin: 30px;
    transition: 2s;
}

#table {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin: 20px 0;
    transition: 1s;
    font-family: "Roboto", sans-serif;
}


.mega-dropdown {
  position: static !important;
}

.mega-dropdown-menu {
  padding: 20px 0px;
  width: 100%;
  box-shadow: none;
  -webkit-box-shadow: none;
}

.mega-dropdown-menu:before {
  content: "";
  border-bottom: 15px solid #fff;
  border-right: 17px solid transparent;
  border-left: 17px solid transparent;
  position: absolute;
  top: -15px;
  left: 285px;
  z-index: 10;
}

.mega-dropdown-menu > li > ul {
  padding: 0;
  margin: 0;
}

.mega-dropdown-menu > li > ul > li {
  list-style: none;
}

.mega-dropdown-menu > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #999;
  white-space: normal;
}

.mega-dropdown-menu > li ul > li > a:hover,
.mega-dropdown-menu > li ul > li > a:focus {
  text-decoration: none;
  color: #444;
  background-color: #f5f5f5;
}

.mega-dropdown-menu .dropdown-header {
  color: rgb(119,71,251);
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.mega-dropdown-menu form {
  margin: 3px 20px;
}

.mega-dropdown-menu .form-group {
  margin-bottom: 3px;
}

.header_area .navbar .nav .nav-item .nav-link:hover, .header_area .navbar .nav .nav-item .nav-link:focus {
    background: none;
    color: pink;
    outline = none;

}

.mega-dropdown .nav-link {
    display: inline-block;
}

.nav-pills {
    margin-right: 0;
    padding-right: 0;
}

.nav-pills-item {
    display: block;
    width: 100%;
    text-align: center;
    margin: 0px;
    padding: 0;

}

.nav-pills > li + li {
    margin: 0;
}

.nav-pills-item a {
    color: #eeeeee;
    margin: 0;
}

.nav-pills-item a:hover {
    color: #222222;
    margin: 0;
}

.nav-side {
    background: #999999;
    height: 100%;
    float: right;
    padding: 30px 0;
}

.nav-pills .active, .nav-pills > li.active > a, .nav-pills > li.active > a:focus {
    background: pink;
    margin: 0;
    color: #777777;
}

.fade {
    display: none;
}

.fade.active {
    display: inherit;
}

.li-header {
    display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
}

.li-body {
    font-weight: bold;
    display: inline-block;
    float: right;
    width: 50%;
    text-align: center;
}

.feature_item {
    display: flow-root;
}