@font-face {
    font-family:'FarsiFont';
    src:url('../fonts/BNazanin.woff');
    font-style:normal;
    font-weight:normal;
}

.nav-mega {
  width: 100%;
}
.nav-mega .dropdown {
  position: static;
}
.nav-mega .dropdown-menu.mega-menu {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-topleft: 0;
  -webkit-border-top-left-radius: 0;
  border-top-left-radius: 0;
  -moz-border-radius-topright: 0;
  -webkit-border-top-right-radius: 0;
  border-top-right-radius: 0;
  min-width: auto;
  width: 100%;
  margin-top: 0;
  padding: 0;
  border-color: #ccc;
}
.nav-mega .dropdown-menu.mega-menu > li {
  padding: 20px;
}
.nav-mega .dropdown-menu.mega-menu .media-list .media {
  padding: 10px;
  font-size: 13px;
}
.nav-mega .dropdown-menu.mega-menu .media-list .media-heading {
  font-size: 16px;
}

nav-item {
line-height: 45px;
color: #222222;
padding: 0px 30px;
-webkit-transition: all 150ms linear;
-o-transition: all 150ms linear;
transition: all 150ms linear;
display: block;
margin-right: 0px;
}

nav-link {
font: 600 12px/100px "Open Sans", sans-serif;
    line-height: 100px;
text-transform: uppercase;
color: #fff;
padding: 0px;
display: inline-block;
}

.rotate {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    font-size: 20px;
    color: #eeeeee;
    line-height: 50px;
    font-family: FarsiFont;
    transition: 0.5s;
}

.my_chat {
    position: fixed;
    margin: 450px auto;
    left: 10px;
    width: 150px;
    height: 70px;
    background: rgb(188,91,254);
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.5s;
}

.my_chat:hover {
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -ms-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg);
    transition: 1s;
}

.my_chat:hover .rotate{
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: 1s;
}

a:not([href]):not([tabindex]) {
    color: #eeeeee;
    max-width: 30%;
}

.purplebtn {
    background-color: rgb(188,91,254);
    color: #eeeeee;
    border: 1px solid rgb(188,91,254);
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}

.greenbtn {
    background-color: rgb(56,208,30);
    color: #eeeeee;
    border: 1px solid rgb(56,208,30);
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
}
.greenbtn:hover {
    color: rgb(56,208,30);
    background-color: #eeeeee;
}

.graybtn {
    background-color: #bbbbbb;
    color: #eeeeee;
    border: 1px solid #bbbbbb;
    min-width: 100px;
    font-size: 16px;
    display: block;
    margin: 20px auto;
    cursor: not-allowed;
}

.purplebtn:hover {
    color: rgb(188,91,254);
    background-color: #eeeeee;
}

.fa-comment {
    color: #666666;
}
.fa-comment:hover {
    color: #bbbbbb;
}

input[type=number] {
    -webkit-appearance: none;
    -moz-appearance:textfield;
    appearance: none;
}

.header_area .navbar .nav .nav-item .nav-link {
    font-size: 15px;
}

