{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <div class="row">
                <div>
                    <h3 style="color: #444444; margin-bottom: 20px;">نام زمینه: {{ object.name }}</h3>
                    <h4 style="color: #444444;">توضیجات: {{ object.description|safe }}</h4>
                </div>
                <div style="margin-right: auto;">
                    <img src="{{field.image.url}}" style="width: 300px; height: auto; margin-right: auto;">
                </div>
            </div>

            <div class="row" style="margin-top: 50px;">
                <h4
                    style="color: #444444; font-size: 25px; margin-bottom: 30px; width: 100%;">سرویس‌های مربوط به این زمینه</h4>
                <div class="col-lg-12 feature_inner row" dir="rtl">
                    {% for service in related_services %}
                    <div class="col-lg-3 col-md-6">
                        <div class="feature_item" style="height: 150px;" dir="ltr">
                            <a href="{% url 'service:service_details' service.id %}" class="text-info"
                               style="font-size: 20px; text-align: center; display: block;">
                                {{ service.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}