{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border text-right" style="font-family: FarsiFont">
            <div class="container">
                <div>
                    <div style="font-size: 20px; font-weight: 700;color: #444444; margin-bottom: 20px;">نام سرویس:
                        <br><div style="font-family: EnglishFont;" dir="ltr">{{ object.name }}</div></div>
                    <div style="color: #444444; margin-bottom: 20px;"> زمینه:<br>
                        <div style="font-family: EnglishFont;"> {{object.field.name}}</div></div>
                    <div>
                        <h4 style="color: #444444; text-align: justify; width: 100%">توضیحات:<br> {{ object.description|safe }}</h4>
                        {% if object.image %}
                        <div style="margin-right: 10%; width: 80%;">
                            <img src="{{object.image.url}}" style="width: 80%; height: auto; margin: 0 10%;">
                        </div>
                        {% endif %}

                    </div>
                    {% if object.has_form %}
                    <a class="main_btn" href="{% url 'order_service:start_order' object.id %}"
                    style="font-family: FarsiFont; font-size: 18px; margin-top: 20px;">سفارش</a>
                    {% endif %}

                    {% if request.user.is_superuser %}
                    <a class="main_btn" href="{% url 'service:create_form' service.id %}"
                    style="font-family: FarsiFont; font-size: 18px; margin-top: 20px;">ساخت فرم</a>
                    {% endif %}
                </div>

            </div>

            <div class="row" style="margin-top: 50px;">
                <h4
                    style="color: #444444; font-size: 25px; margin-bottom: 30px; width: 100%;">خدمات مرتبط</h4>
                <div class="col-lg-12 feature_inner row" dir="rtl">
                    {% for service in related_services %}
                    <div class="col-lg-3 col-md-6">
                        <div class="feature_item" style="height: 300px;">
                            <div style="width: 100%; height: auto; margin: 0 auto 20px auto; text-align: center;">
                                {% if service.logo %}
                                <img class="img-news" src="{{ service.logo.url }}" alt=""
                                     style="width: auto; max-width: 100%; max-height: 120px;">
                                {% endif %}
                            </div>
                            <a href="{% url 'service:service_details' service.id %}" class="text-info"
                               style="font-size: 18px; text-align: center; display: block;">
                                {{ service.name }}</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}