{% load static staticfiles %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan TuCAGene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}
</head>
<body>
<div class="login_body"></div>
<div class="bg-text" style="display: flex;">

    <div class="col-lg-6 col-md-12">
        <h2>ثبت نام</h2>
        <a href="{% url 'registration:register_person' %}" class="btn btn-dark circle"
            style="width: 60%;margin: 10px 0; font-size: 18px;">حساب کاربری حقیقی</a>
        <a href="{% url 'registration:register_organization' %}" class="btn btn-dark circle"
            style="width: 60%;margin: 10px 0; font-size: 18px;">حساب کاربری حقوقی</a>
    </div>
    <div class="col-lg-6 col-md-12 border-lg">
        <h2>ورود به سامانه</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.errors %}
                <h4 class="text-warning">حساب کاربری فعالی با این نام کاربری و رمز عبور وجود ندارد</h4>
            {% endif %}
            <div class="row" dir="rtl" style="margin: 10px; display: flex;">
                <h4 style="display: inline-block; text-align: center; line-height: 40px;">نام کاربری: </h4>
                <input class="single-input"
                       style="color: #666666; max-width: 70%;display: inline-block; margin-right: auto;" type="text"
                       name="username" id="id_username">
            </div>
            <div class="row" dir="rtl" style="margin: 10px;">
                <h4 style="display: inline-block; text-align: center; line-height: 40px;">رمز عبور: </h4>
                <input class="single-input"
                       style="color: #666666; max-width: 70%;display: inline-block; margin-right: auto;" type="password"
                       name="password" id="id_password">
            </div>
            <input type="submit" class="btn circle btn-success"
                   style="font-family: FarsiFont; font-size: 18px; min-width: 60%; margin: 10px;"
                   value="ثبت">
        </form>
    </div>
</div>
</body>
</html>