{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin: auto">
                    <h3 class="mb-30 title_color" style=" font-family: FarsiFont;">فرم ثبت نام</h3>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        <div id="{{field.name}}" class="mt-10" style="display: flex;">
                            <label style="float: right; display: inline-block; width: 150px;">
                                {% if field.field.required %}
                                <div style="color: red; display: inline;">*</div>
                                {% endif %}
                                {{field.label}}</label>
                            <div style="width: 100%;">
                                {{field}}
                                {% if field.errors %}
                                <ul>
                                    {% for error in field.errors %}
                                    <span class="text-danger">{{ error }}</span>
                                    {% endfor %}
                                </ul>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        <br>
                        <button type="submit" class="genric-btn purplebtn circle">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock main_content %}

{% block script %}
<script>
    $("input").addClass('single-input');
    $("input").prop('required',false);
    $("#id_national_id").prop('type','text');
    $("#id_national_id").prop('pattern', "[0-9]*");
    $(".current").css('width', '50%');
    $(".current").css('margin', '20px auto');
    $('.current').on('change', function() {
        var val = $('.current').first().text();
        console.log($('.current').first().text());
        if (val == 'حقوقی') {
            $('#organization_name').css('display','flex');
            $('#submit_id').css('display','flex');
            $('#economic_id').css('display','flex');
            $('#post').css('display','flex');
            $('#education').css('display','none');
            $('#national_id').css('display','none');
            $('#org').css('display','none');
            $('#cellphone_number').css('display', 'none');
        }
        if (val == 'حقیقی') {
            $('#organization_name').css('display', 'none');
            $('#submit_id').css('display', 'none');
            $('#economic_id').css('display', 'none');
            $('#post').css('display', 'none');
            $('#education').css('display', 'flex');
            $('#national_id').css('display', 'flex');
            $('#org').css('display', 'flex');
            $('#cellphone_number').css('display', 'flex');
        }
    });
    customer_type();

    function customer_type() {
        var val = $('.current').first().text();
        console.log($('.current').first().text());
        if (val == 'حقوقی') {
            $('#organization_name').css('display','flex');
            $('#submit_id').css('display','flex');
            $('#economic_id').css('display','flex');
            $('#post').css('display','flex');
            $('#education').css('display','none');
            $('#national_id').css('display','none');
            $('#org').css('display','none');
            $('#cellphone_number').css('display', 'none');
        }
        if (val == 'حقیقی') {
            $('#organization_name').css('display', 'none');
            $('#submit_id').css('display', 'none');
            $('#economic_id').css('display', 'none');
            $('#post').css('display', 'none');
            $('#education').css('display', 'flex');
            $('#national_id').css('display', 'flex');
            $('#org').css('display', 'flex');
            $('#cellphone_number').css('display', 'flex');
        }
    };
</script>
{% endblock script %}