{% load static staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan Tokagene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

{% include 'temporary/navbar.html' %}
{% include 'temporary/chat_sidebar.html' %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>

        <img src="{% static 'img/DNA.png' %}"
             style="width:100%; float: right; -webkit-transform: scaleX(-1); transform: scaleX(-1);">
        <div class="container">
            <div class="banner_content text-center">
                <h2>Register</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="elements.html">Register</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start Form =================-->
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin: auto">
                    <h3 class="mb-30 title_color" style=" font-family: FarsiFont;">فرم ثبت نام</h3>
                    <form method="post">
                        {% csrf_token %}
                        <div style="width: 50%; margin: 20px auto; display: flex;">
                            <div class="single-element-widget" style="margin: auto;">
                                <label class="mb-30 title_color" style="line-height: 42px; margin: auto 20px;">نوع حساب
                                    کاربری</label>
                                <select id="type_select" onchange="customer_type()">
                                    <option value="1">حقیقی</option>
                                    <option value="2">حقوقی</option>
                                </select>
                            </div>
                        </div>
                        {% for field in form %}
                        <div id="{{field.name}}" class="mt-10" style="display: flex;">
                            <label style="float: right; display: inline-block; width: 150px;">
                                {% if field.field.required %}
                                    <div style="color: red; display: inline;">*</div>
                                {% endif %}
                                {{field.label}}</label>
                            {{field}}
                            {{field.error}}
                        </div>
                        {% endfor %}
                        <button type="submit" class="genric-btn purplebtn circle">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End form =================-->

{% include 'temporary/footer.html' %}


{% include 'temporary/jsfiles.html' %}
<script>
    $(document).ready(function () {

        customer_type();
    });

    function customer_type() {
        var val = $('#type_select').val();
        console.log(val);
        if (val == 2) {
            $('#organization_name').css('display','flex');
            $('#submit_id').css('display','flex');
            $('#economic_id').css('display','flex');
            $('#post').css('display','flex');
            $('#education').css('display','none');
            $('#national_id').css('display','none');
            $('#org').css('display','none');
            $('#cellphone_number').css('display', 'none');
        }
        if (val == 1) {
            $('#organization_name').css('display', 'none');
            $('#submit_id').css('display', 'none');
            $('#economic_id').css('display', 'none');
            $('#post').css('display', 'none');
            $('#education').css('display', 'flex');
            $('#national_id').css('display', 'flex');
            $('#org').css('display', 'flex');
            $('#cellphone_number').css('display', 'flex');
        }
    };

</script>
</body>
</html>