{% load static staticfiles %}
{% if request.user.is_authenticated %}
{% if not request.user.is_superuser %}
<a href="{% url 'message:customer_create_message' %}" id="chat" class="btn btn-md my_chat">
    <i class="fa fa-comment-o" style="font-size: 30px;"></i>
</a>
{% endif %}
{% endif %}

<script src='{% static "js/jquery-3.2.1.min.js" %}'></script>
<script>
    jQuery(document).scroll(function() {
        var scroll = $(document).scrollTop();

        $("#chat").css("margin-top", - scroll / $(document).height() * 400 + 450);
    });
</script>