{% load static staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan Tokagene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}

    {% block internal_css %}
    {% endblock internal_css %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70" style="overflow-x: hidden;">

{% include "temporary/navbar.html" %}
{% include "temporary/chat_sidebar.html" %}

{% block banner %}
<!--================Home Banner Area =================-->
<section class="home_banner_area" id="home" style="min-height: unset; max-height: 100vh;">
    <div class="banner_inner" style="padding: 0; min-height: 50vh;">
        <div class="container-fluid" style="padding: 0; max-height: 60vh;">
            <img src="{% static 'img/DNA6.png' %}" class="banner_index">
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->
{% endblock banner %}


{% block main_content %}
{% endblock main_content %}

{% include "temporary/footer.html" %}


{% include "temporary/jsfiles.html" %}

{% block script %}
{% endblock script %}

</body>
</html>