{% load static staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan Tokagene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

{% include "temporary/navbar.html" %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                {% block banner_content %}
                    <h2>Royan TuCAGene</h2>
                {% endblock banner_content %}
            </div>
        </div>
        <img src="{% static 'img/DNA.png' %}" style="height: 400px; float: right;">
    </div>
</section>
<!--================End Home Banner Area =================-->

{% block main_content %}
{% endblock main_content %}

{% include "temporary/footer.html" %}


{% include "temporary/jsfiles.html" %}

{% block script %}
{% endblock script %}

</body>
</html>