{% load static staticfiles %}
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="main_menu" id="mainNav">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid" style="justify-content: center;">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header" style="line-height: 100%;">
                    <div class="navbar-brand-inverse">
                        <img class="navbar-logo1 navbar-logo" src="{{ RoyanTucagene.logo.url }}">
                        <div id="space"></div>
                    </div>
                    <div class="navbar-brand"
                         style="font-size: 20px; color: #eeeeee;">
                        <img class="navbar-logo" src="{{ RoyanTucagene.logo2.url }}">
                        Royan
                        <div class="text-danger" style="display: inline; margin: 0; padding: 0;"
                        >T</div
                        >u<div class="text-primary" style="display: inline; margin: 0; padding: 0;"
                        >C</div><div class="text-success" style="display: inline; margin: 0; padding: 0;"
                        >A</div><div class="text-dark" style="display: inline; margin: 0; padding: 0;"
                        >G</div>ene
                    </div>
                </div>

                <!--<a class="navbar-brand logo_h" href="index.html"><img src="img/logo.png" alt=""></a>-->
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                    <div style="margin-left: auto;">
                        <div class="row">
                            <ul class="nav margin-nav">
                                <li class="nav-item">
                                    <a class="upper-nav-link" href="">En/Fa</a></li>
                                <li class="nav-item">
                                    <a class="upper-nav-link" href="{% url 'index:contact' %}">Contact</a></li>
                                <li class="nav-item">
                                    <a class="upper-nav-link" href="{% url 'index:about' %}">About</a></li>
                                {% if request.user.is_authenticated %}
                                <li class="nav-item">
                                    <div class="upper-nav-link" style="display: inline-block;">Welcome,</div>
                                    {% if request.user.is_superuser %}
                                    <a href="{% url 'royan_admin:admin_panel' %}"
                                       style="display: inline-block; margin-left: 0; padding-left: 0; font-size: 20px;"
                                       class="upper-nav-link">{{ request.user.username }}</a>
                                    {% else %}
                                    <a href="{% url 'dashboard:dashboard' %}"
                                       style="display: inline-block; margin-left: 0; padding-left: 0; font-size: 20px;"
                                       class="upper-nav-link">{{ request.user.username }}</a>
                                    {% endif %}
                                </li>
                                <li class="nav-item"><a href="{% url 'registration:logout' %}"
                                                        class="upper-nav-link">Logout</a>
                                </li>
                                {% else %}
                                <li class="nav-item"><a href="{% url 'registration:login' %}"
                                                        class="upper-nav-link">Login/Register</a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                        <ul class="nav navbar-nav menu_nav ml-auto nav-right">
                            <li class="nav-item active"><a class="nav-link nav-padding" href="{% url 'index:index' %}"
                            >Home</a>
                            </li>
                            <li class="nav-item submenu dropdown mega-dropdown">
                                <div class="nav-link nav-padding dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   role="button">Services</div>
                                <ul class="mega-dropdown-menu dropdown-menu">
                                    {% for field in service_fields %}
                                    <li class="mega-dropdown-col">
                                        <ol class="ordered-list-alpha">
                                            <li class="dropdown-header">
                                                <a class="dropdown-header"
                                                   href="{% url 'service:field_details' field.id %}"
                                                >{{ field.name }}</a>
                                            </li>
                                            {% for service in services %}
                                            {% if not service.field2 and service.field.id == field.id %}
                                            <li class="nav-item">
                                                <a class="nav-link nav-no-padding"
                                                   href="{% url 'service:service_details' service.id %}">
                                                    {{service.name}}</a>
                                            </li>
                                            {% endif %}
                                            {% endfor %}
                                            {% for field2 in fields2 %}
                                            {% if field2.field.id == field.id %}
                                                <li class="nav-item submenu dropdown">
                                                    <a class="nav-link nav-padding dropdown-toggle"
                                                       href="#">{{ field2.name }}</a>
                                                    <ul class="my_dropdown_menu dropdown-menu">
                                                        {% for service in services %}
                                                        {% if service.field2.id == field2.id %}
                                                        <li class="nav-item">
                                                            <a class="nav-link nav-no-padding"
                                                               href="{% url 'service:service_details' service.id %}">
                                                                {{service.name}}</a>
                                                        </li>
                                                        {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% endif %}
                                            {% endfor %}
                                        </ol>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <div class="nav-link nav-padding dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   role="button">Products</div>
                                <ul class="dropdown-menu" style="min-width: 250px;">
                                    {% for category in product_categories %}
                                    <li class="nav-item">
                                        <a class="nav-link nav-no-padding"
                                           href="{% url 'product:product_list' category.id %}"
                                           style="text-transform: none;">{{ category.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <div class="nav-link nav-padding dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   role="button">Research areas</div>
                                <ul class="dropdown-menu" style="min-width: 250px;">
                                    {% for research in research_areas %}
                                    <li class="nav-item"><a class="nav-link nav-no-padding"
                                                            href="{% url 'research:show_research_area' research.id %}"
                                                            style="text-transform: none;">{{research.name}}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item submenu dropdown">
                                <div class="nav-link nav-padding dropdown-toggle" data-toggle="dropdown"
                                   aria-haspopup="true" aria-expanded="false"
                                   role="button">Tutorials</div>
                                <ul class="dropdown-menu tutorial" style="min-width: 250px;">
                                    {% for tutorial in tutorials %}
                                    <li class="nav-item"><a class="nav-link nav-no-padding"
                                                            href="{% url 'tutorial:show_tutorial' tutorial.id %}"
                                                            style="text-transform: none;">{{ tutorial.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link nav-padding" href="{% url 'news:show_news_list' %}"
                            >News</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
<!--================Header Menu Area =================-->