{% load static staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan TokaGene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

{% include "temporary/navbar.html" %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Primer</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="elements.html">Services</a>
                    <a href="elements.html">Primer</a>
                </div>
            </div>
        </div>
        <img src="{% static 'img/DNA.png' %}" style="width:100%; float: right; ">
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start Form =================-->
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin: auto">
                    <form>
                        <!--<input type="file" style="display: inline-block; ">-->
                        <div id="results">

                        </div>

                        <div style="font-family: FarsiFont; text-align: center; background: rgb(156,239,141); width: 100%; height: 100px; display: block; color: #222222">
                            <h4 style="font-family: FarsiFont; padding-top: 20px;">سفارش شما با موفقیت انجام شد. پیش فاکتور جهت تایید نهایی سفارش، به زودی به ایمیل شما ارسال خواهد گردید. </h4>
                            <h3 style="font-family: FarsiFont;">کد رهگیری: PR-971210-1</h3>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End form =================-->

{% include "temporary/footer.html" %}


{% include "temporary/jsfiles.html" %}
<script>
    $(document).ready(function(){

    });
    var count=2;
    $("#btn").click(function(){

      $("#table").append(addNewRow(count));
      count++;
      return false;
    });

    function changed () {
        var value = $('#checkbox').prop("checked");
        if (value == true) {
            $('btn').css('display', 'inline-block');
            $('btn1').css('display', 'none');
        }
        if (value == false) {
            $('btn1').css('display', 'inline-block');
            $('btn').css('display', 'none');
        }
    }

    function addNewRow(count){
      var newrow='<tr>'+
                                '<td>'+count+'</td>'+
                                '<td><input type="text" style="width: 90%; border-color: #bbbbbb;"></td>'+
                                '<td style="display: flex; margin: auto">5-<input type="text" style="width: 70%; border-color: #bbbbbb;">-3</td>'+
                                '<td><select style="width: 100%; border-color: #bbbbbb;">'+
                                    '<option>select</option>'+
                                    '<option>0.02</option>'+
                                    '<option>0.04</option>'+
                                    '<option>0.1</option>'+
                                    '<option>1</option>'+
                                '</select></td>'+
                                '<td><select style="width: 100%; border-color: #bbbbbb;">'+
                                    '<option>select</option>'+
                                    '<option>Yes</option>'+
                                    '<option>No</option>'+
                                '</select></td>'+
                                '<td><select style="width: 100%; border-color: #bbbbbb;">'+
                                    '<option>select</option>'+
                                    '<option>a1</option>'+
                                    '<option>a2</option>'+
                                '</select></td>'+
                            '</tr>';
      return newrow;
    }
</script>
</body>
</html>