{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner_content %}
<h2>Primer</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">Services</a>
    <a href="elements.html">Primer</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="multi-step container">
    <div class="col-lg-2">
        <div id="progress_btn_1" class="circle btn-success">1</div>
        <label class="progress-bar-label">ثبت مشخصات فاکتور شونده</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_2" class="circle btn-success">2</div>
        <label class="progress-bar-label">ثبت اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_3" class="circle btn-success">3</div>
        <label class="progress-bar-label">تایید اطلاعات توالی‌ها</label>
    </div>
    <div class="col-lg-1 connecting-line"></div>
    <div class="col-lg-2">
        <div id="progress_btn_4" class="circle btn-primary">4</div>
        <label class="progress-bar-label">دریافت کد رهگیری</label>
    </div>
</div>

<div class="container">
    <div class="alert alert-success" dir="rtl"
         style="text-align: center; font-family: FarsiFont; padding: 30px; margin-top: 40px;">
        <h4 style="font-family: FarsiFont;">سفارش شما با موفقیت انجام شد. پیش
            فاکتور جهت تایید نهایی سفارش، به زودی به ایمیل شما ارسال خواهد گردید. </h4>
        <h4 style="font-family: FarsiFont;display: inline; margin-top: 10px;">کد رهگیری:</h4> <h3 style="display: inline; margin-top: 10px;">PR-971210-1</h3>
    </div>
</div>
{% endblock main_content %}