{% load static staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="img/favicon.png" type="image/png">
    <title>Royan Tokagene</title>
    <!-- Bootstrap CSS -->
    {% include 'temporary/cssfiles.html' %}
</head>
<body data-spy="scroll" data-target="#mainNav" data-offset="70">

{% include "temporary/navbar.html" %}

<!--================Home Banner Area =================-->
<section class="banner_area">
    <div class="banner_inner d-flex align-items-center">
        <div class="overlay bg-parallax" data-stellar-ratio="0.9" data-stellar-vertical-offset="0"
             data-background=""></div>
        <div class="container">
            <div class="banner_content text-center">
                <h2>Primer</h2>
                <div class="page_link">
                    <a href="index.html">Home</a>
                    <a href="elements.html">Services</a>
                    <a href="elements.html">Primer</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--================End Home Banner Area =================-->

<!--================Start Form =================-->
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container">
        <div class="section-top-border">
            <div class="row">
                <div class="col-lg-8 col-md-8" style="margin: auto">

                    <p>شما میتوانید فایل زیر را دانلود کرده، آن را پر کنید و سابمیت کنید و یا با استفاده از فرم درج شده
                        رد سایت، اطلاعات را وارد نمایید.</p>
                    <a href="{% static 'primer.xls' %}" download>فایل</a>
                    <form>
                        <input type="file">
                        <div id="results">

                        </div>
                        <button class="genric-btn purplebtn circle" id="btn">اضافه</button>
                        <table dir="ltr" id="table"
                               style="float: left; width: 100%; border: 1px solid #111111; text-align: center; margin: 20px 0;">
                            <thead>
                                <tr>
                                    <th>num</th>
                                    <th>Oligo name</th>
                                    <th>Oligo Sequence</th>
                                    <th>Amount</th>
                                    <th>Purification</th>
                                    <th>Modification</th>
                                </tr>
                            </thead>
                            <!--<tr>-->
                                <!--<td>1</td>-->
                                <!--<td><input type="text" style="width: 90%;"></td>-->
                                <!--<td><input type="text" style="width: 90%;"></td>-->
                                <!--<td><select style="width: 100%;">-->
                                    <!--<option>a1</option>-->
                                    <!--<option>a2</option>-->
                                <!--</select></td>-->
                                <!--<td><select style="width: 100%;">-->
                                    <!--<option>a1</option>-->
                                    <!--<option>a2</option>-->
                                <!--</select></td>-->
                                <!--<td><select style="width: 100%;">-->
                                    <!--<option>a1</option>-->
                                    <!--<option>a2</option>-->
                                <!--</select></td>-->
                            <!--</tr>-->
                        </table>
                        <button type="submit" class="genric-btn purplebtn circle">ثبت</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--================End form =================-->

{% include "temporary/footer.html" %}


{% include "temporary/jsfiles.html" %}
<script>
    $(document).ready(function(){

      $("#table").append(addNewRow(1));
    });
    var count=2;
    $("#btn").click(function(){

      $("#table").append(addNewRow(count));
      count++;
      return false;
    });

    function addNewRow(count){
      var newrow='<tr>'+
                                '<td>'+count+'</td>'+
                                '<td><input type="text" style="width: 90%;"></td>'+
                                '<td><input type="text" style="width: 90%;"></td>'+
                                '<td><select style="width: 100%;">'+
                                    '<option>a1</option>'+
                                    '<option>a2</option>'+
                                '</select></td>'+
                                '<td><select style="width: 100%;">'+
                                    '<option>a1</option>'+
                                    '<option>a2</option>'+
                                '</select></td>'+
                                '<td><select style="width: 100%;">'+
                                    '<option>a1</option>'+
                                    '<option>a2</option>'+
                                '</select></td>'+
                            '</tr>';
      return newrow;
    }
</script>
</body>
</html>