{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner_content %}
<h2>User Panel</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">User Panel</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container-fluid" style="padding-right: 0; padding-left: 0; min-height: 500px;">
        <div class="col-lg-2 col-sm-12 nav-side">
            <ul class="nav nav-pills">
                <li class="nav-pills-item active"><a class="nav-a-tab active" data-toggle="pill" href="#home">Personal
                    Info</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu1">Ordered Services</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu2">Bought Products</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu3">Transactions</a></li>
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12" style="float: right; padding-top: 30px;">
            <div id="home" class="tab-pane fade in active show">
                <div class="feature_item">
                    <h4>Personal Info</h4>
                    <div class="table table-bordered">
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">نام</div>
                            <div class="li-body">پویان</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">نام خانوادگی</div>
                            <div class="li-body">شیرزادیان</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">کد ملی</div>
                            <div class="li-body">۰۴۴۰۷۰۰۱۴۰</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">تحصیلات</div>
                            <div class="li-body">دیپلم</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">سازمان/موسسه</div>
                            <div class="li-body">رویان</div>
                        </div>
                        <div class="col-lg-4 col-sm-12"
                             style="float: right; border: 1px solid #cccccc; padding: 50px 0; display: flex">
                            <div class="li-header">تلفن</div>
                            <div class="li-body">۰۹۱۲۶۸۰۴۲۹۵</div>
                        </div>


                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade" style="font: 600 12px/100px 'Open Sans', sans-serif;">
                <div class="feature_item">
                    <h4>Ordered Services</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Order_id</th>
                                <th>Date</th>
                                <th>is_OK</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>Primer-971201-1</td>
                                <td>97/12/01</td>
                                <td>yes</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Primer-971211-4</td>
                                <td>97/12/11</td>
                                <td>yes</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>Primer-971215-12</td>
                                <td>97/12/15</td>
                                <td>no</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade" style="font: 600 12px/100px 'Open Sans', sans-serif;">
                <div class="feature_item">
                    <h4>Bought Products</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Product_id</th>
                                <th>Date</th>
                                <th>received</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>product_1</td>
                                <td>97/12/02</td>
                                <td>yes</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>product_3</td>
                                <td>97/12/12</td>
                                <td>yes</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>product_2</td>
                                <td>97/12/13</td>
                                <td>yes</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu3" class="tab-pane fade" style="font: 600 12px/100px 'Open Sans', sans-serif;">
                <div class="feature_item">
                    <h4>Transactions</h4>
                    <div class="table-responsive">
                        <table class="table" style="text-align: center;">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>for</th>
                                <th>id</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tr>
                                <td>1</td>
                                <td>order service</td>
                                <td>Primer-971201</td>
                                <td>97/12/01</td>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>buy product</td>
                                <td>product_1</td>
                                <td>97/12/02</td>
                            </tr>
                            <tr>
                                <td>3</td>
                                <td>order service</td>
                                <td>Primer-971211</td>
                                <td>97/12/11</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>buy product</td>
                                <td>product_3</td>
                                <td>97/12/12</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>buy product</td>
                                <td>product_2</td>
                                <td>97/12/13</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>order service</td>
                                <td>Primer_971215</td>
                                <td>97/12/15</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}

{% block script %}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}









</script>
{% endblock script %}