{% extends "temporary/mother_panel.html" %}
{% load static staticfiles %}

{% block banner_content %}
<h2>User Panel</h2>
<div class="page_link">
    <a href="index.html">Home</a>
    <a href="elements.html">User Panel</a>
</div>
{% endblock banner_content %}

{% block main_content %}
<div class="whole-wrap" dir="rtl" style="text-align: right; font-family: FarsiFont; font-size: 16px;">
    <div class="container-fluid" style="padding-right: 0; padding-left: 0; min-height: 500px;">
        <div class="col-lg-2 col-sm-12 nav-side">
            <ul class="nav nav-pills">
                <li class="nav-pills-item active"><a class="nav-a-tab active" data-toggle="pill" href="#home">Personal Info</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu1">Ordered Services</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu2">Bought Products</a>
                </li>
                <li class="nav-pills-item"><a class="nav-a-tab" data-toggle="pill" href="#menu3">Transactions</a></li>
            </ul>
        </div>
        <div class="col-lg-8 col-sm-12" style="float: right; padding-top: 30px;">
            <div id="home" class="tab-pane fade in active show">
                <div class="feature_item">
                    <h4>Personal Info</h4>
                    <div class="table table-bordered">
                        <div class="col-lg-4 col-sm-12">
                            <div class="li-header">name</div>
                            <div class="li-body">Pouyan</div>
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            نام: پویان
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            نام: پویان
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            نام: پویان
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            نام: پویان
                        </div>
                        <div class="col-lg-4 col-sm-12">
                            نام: پویان
                        </div>

                    </div>
                </div>
            </div>
            <div id="menu1" class="tab-pane fade">
                <div class="feature_item">
                    <h4>Ordered Services</h4>
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>hi</th>
                                    <th>hi</th>
                                    <th>hi</th>
                                    <th>hi</th>
                                </tr>
                            </thead>
                            <tr>
                                <td>he</td>
                                <td>he</td>
                                <td>he</td>
                                <td>he</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="menu2" class="tab-pane fade">
                <h3>Menu 2</h3>
                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium,
                    totam rem aperiam.</p>
            </div>
            <div id="menu3" class="tab-pane fade">
                <h3>Menu 3</h3>
                <p>Eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt
                    explicabo.</p>
            </div>

        </div>
    </div>
</div>
{% endblock main_content %}

{% block script %}
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}








</script>
{% endblock script %}